/* 공통사항 */
html, body {height: 100%; color: #111;}
.wrap {width: 100%; height: 100%; max-width: 1800px; margin: 0 auto;}
.lt-navi {float: left;
	width: 300px; height: 100%; position: fixed;}
.rt-cont {float: right; background-color: #eee; padding: 20px; 
	width: calc(100% - 300px); height: 5000px;}

/* .bar {height: 5px; background-color: #bbb; margin: 20px 0;} */

/* lt-navi */
.lt-navi > .avatar {width: 40%; margin: 20px;}
.lt-navi > .avatar > img {border-radius: 6px;}
.lt-navi > .tit {padding: 16px 20px; font-size: 20px; font-weight: bold;}
.lt-navi > .stit {padding: 16px 20px; color: #999;}
.lt-navi > .navi {padding: 10px 20px; cursor: pointer;}
.lt-navi > :nth-child(4) {color: rgb(41, 159, 163);}
.lt-navi > .navi:hover {background-color: #ccc;}
.lt-navi > .navi .fas {margin-right: 20px;}
.lt-navi > .brands {padding: 20px;}

/* rt-cont */
/*
display : block, inline, inlin-block, none
block이 기본값: div, p, ul, li, h1, h2...h6 ...
inline이 기본값: span, i, b... 
inline-block: img
none: 안보이게 하기
*/

.rt-cont > h1 {padding: 16px 0;}
.rt-cont > .navis {margin-top: 16px;}
.rt-cont > .navis > li {padding: 8px 16px; display: inline-block;}
.rt-cont > .navis > li:first-child {padding-left: 0;}
.rt-cont > .navis > .navi {background-color: #fff; cursor: pointer;}
.rt-cont > .navis > .navi-def {background-color: #111; color: #fff; 
	cursor: pointer;}
.rt-cont > .navis > .navi:hover {background-color: #ccc;}
.rt-cont > .navis > .navi-def:hover {background-color: #ccc; color: #000;}
.rt-cont .bar {height: 6px; background-color: #ccc; margin: 16px 0;}


/* 사진 */
.pics {margin-top:40px; 
	display: flex; flex-wrap: wrap; justify-content: space-between;}
.pics > .pic {flex: 32.6% 0 1; margin-bottom: 48px;}
.pics .pic-tit {padding: 16px 0; font-weight: bold;}
.pics .pic-cont {color: #333;}

.pager {width: 240px; margin: 0 auto; display: flex;}
.pager > li {width: 40px; height: 40px; cursor: pointer;
display: flex; align-items: center; justify-content: center;}
.pager > li:hover {background-color: #111; color: #f8f8f8;}
.pager .active {background-color: #111; color: #f8f8f8;}